<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Usuario: {{ username }}</p>

  <h2>Información Adicional</h2>

  <ion-item id="nombreInput">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item id="apellidoInput">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nivel Educación</ion-label>
    <ion-select interface="popover" [(ngModel)]="nivel">
      <ion-select-option value="Basica">Basica</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Superior">Superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
        <ion-label style="margin-bottom: 55px;" position="floating">Fecha de Nacimiento</ion-label>
  </ion-item>


  <ion-item>
    <ion-datetime
      presentation="date"
      [(ngModel)]="fechaNacimiento"
      display-format="DD/MM/YYYY"
    ></ion-datetime>
  </ion-item>

  <ion-button expand="full" color="medium" (click)="limpiarCampos()">Limpiar</ion-button>
  <ion-button expand="full" color="primary" (click)="mostrarDatos()">Mostrar</ion-button>

</ion-content>
